---
modified:
  title: About 'Birds of Chicago'
  class: birds
---
{{> header}}

{{#bird-about}}
<h1>{{page-name}}</h1>
<div class="page-subtitle">{{page-subtitle}}</div>
{{/bird-about}}

{{> footer}}