---
modified:
  title: "Rare"
  subtitle: "Special and Elusive"
  class: birds
---
{{> header}}

<div class="bird-container">
  <div class="gallery-page-head">
    <h1>{{modified.title}}</h1>
    <div class="page-subtitle">{{modified.subtitle}}</div>
    {{> bird-btns}}
  </div>

  {{#rare}}
  {{> bird-gallery}}
  {{/rare}}
</div>

{{> footer}}