---
modified:
  title: "Water Birds"
  subtitle: "Cormorants, Ducks, and Herons"
  class: birds
---
{{> header}}

<div class="bird-container">
  <div class="gallery-page-head">
    <h1>{{modified.title}}</h1>
    <div class="page-subtitle">{{modified.subtitle}}</div>
    {{> bird-btns}}
  </div>

  {{#waterbirds}}
  {{> bird-gallery}}
  {{/waterbirds}}
</div>

{{> footer}}