---
modified:
  title: "Austria 2016: Innsbruck, Salzburg, and Seefeld"
  class: album
---
{{> header}}

<div class="gallery-page-head">
  <h1>{{modified.title}}</h1>
  <div class="photo-count">25 photos</div>
  <div class="gallery-date">March 10-16, 2016</div>
</div>
<div class="gallery-nav">
  <a href="/gallery.html">&laquo; Return to Gallery</a>
  <a href="#" class="trigger-lightbox">View in Lightbox</a>
</div>

{{#austria}}

{{> gallery-page}}
{{> pagenav}}

{{/austria}}


{{> footer}}