---
modified:
  title: Waterfall at Blackwater Falls State Park
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#blackwaterfalls}}
{{> gallery-single}}
{{> pagenav}}
{{/blackwaterfalls}}


{{> footer}}