---
modified:
  title: "Reframing Ruin: Bloomingdale Trail Twilight"
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#bloomingdale}}
{{> gallery-single}}
{{> pagenav}}
{{/bloomingdale}}


{{> footer}}