---
modified:
  title: Curtis Island Lighthouse from aboard Schooner Olad
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#camdenlighthouse}}
{{> gallery-single}}
{{> pagenav}}
{{/camdenlighthouse}}


{{> footer}}