---
modified:
  title: Edward Scissorhands
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#edwardscissorhands}}
{{> gallery-single}}
{{> pagenav}}
{{/edwardscissorhands}}


{{> footer}}