---
modified:
  title: "English Portfolio"
  class: album
---
{{> header}}

<div class="gallery-page-head">
  <h1>{{modified.title}}</h1>
  <div class="photo-count">10 photos</div>
  <div class="gallery-date">Feb 17-19, 2008</div>
  <p class="album-intro">In February 2008, right after completing my undergrad degree, my Dad and I took a trip to England. The goal of the trip was to take 35mm film and Polaroid photographs, then develop the film and prints in the darkroom at my alma mater, the University of Kentucky, and finally display them in a public solo exhibit at the Kentucky Theatre in downtown Lexington. The project was significant for several reasons, one being that it was my first post-graduate art project, and Polaroid had ceased production of instant film the exact same month. During the trip, we visited (in order), Liverpool, Manchester, Sheffield, High Bradfield (South Yorkshire countryside), Birmingham, and Coventry. This album features some of my favorite photos from Liverpool, High Bradfield, and Birmingham.</p>
</div>
<div class="gallery-nav">
  <a href="/gallery.html">&laquo; Return to Gallery</a>
  <a href="#" class="trigger-lightbox">View in Lightbox</a>
</div>

{{#englishportfolio}}

{{> gallery-page}}
{{> pagenav}}

{{/englishportfolio}}


{{> footer}}