---
modified:
  title: Frozen Bench at Promontory Point
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#frozenpromontory}}
{{> gallery-single}}
{{> pagenav}}
{{/frozenpromontory}}


{{> footer}}