---
modified:
  title: A Mexican Vaquero (Study)
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#mexicanvaquero}}
{{> gallery-single}}
{{> pagenav}}
{{/mexicanvaquero}}


{{> footer}}