---
modified:
  title: The Murder of Mingo Jack, book cover
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#mingojack}}
{{> gallery-single}}
{{> pagenav}}
{{/mingojack}}


{{> footer}}