---
modified:
  title: Montoya Penske IndyCar at Mid-Ohio
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#montoyaindycar-midohio}}
{{> gallery-single}}
{{> pagenav}}
{{/montoyaindycar-midohio}}


{{> footer}}