---
modified:
  title: Notte a Venezia (Night in Venice)
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#nottevenezia}}
{{> gallery-single}}
{{> pagenav}}
{{/nottevenezia}}


{{> footer}}