---
modified:
  title: "Open Range: From Monument Valley to the Mojave Desert"
  class: album
---
{{> header}}

<div class="gallery-page-head">
  <h1>{{modified.title}}</h1>
  <div class="photo-count">8 photos</div>
  <div class="gallery-date">June, 2010</div>
</div>
<div class="gallery-nav">
  <a href="/gallery.html">&laquo; Return to Gallery</a>
  <a href="#" class="trigger-lightbox">View in Lightbox</a>
</div>

{{#openrange}}

{{> gallery-page}}
{{> pagenav}}

{{/openrange}}


{{> footer}}