---
modified:
  title: "Open Range: From Monument Valley to the Mojave Desert"
  class: album
---
{{> header}}

<div class="gallery-page-head">
  <h1>{{modified.title}}</h1>
  <div class="photo-count">15 photos</div>
  <div class="gallery-date">June 12-17, 2011</div>
  <p class="album-intro">In June 2011, I traveled with my Dad to the Navajo Nation, Grand Canyon, Joshua Tree National Park, and various deserts inbetween on a photography expedition. The resulting photos were collected in my first self-published book, entitled <a href="http://www.blurb.com/b/2868673-open-range" target="_blank"><em>Open Range: From Monument Valley to the Mojave Desert</em></a>. For this photo expedition, I took photos with 35mm film, Polaroid film, a Panasonic Lumix dSLR, and Apple iPhone 4. I also utilized high-dynamic range (HDR) image editing and long-exposure photography. The Poloaroid film had been saved in a refrigerator for 3 years, given that Polaroid had ceased production of that instant film format in 2008. I wanted to show these timeless places that remained relatively unchained for thousands of years, with a broad range of photography formats. Here is a sampling of my favorite images from the book.</p>
</div>
<div class="gallery-nav">
  <a href="/gallery.html">&laquo; Return to Gallery</a>
  <a href="#" class="trigger-lightbox">View in Lightbox</a>
  <a href="http://www.blurb.com/b/2868673-open-range" target="_blank">Buy Book</a>
</div>

{{#openrange}}

{{> gallery-page}}
{{> pagenav}}

{{/openrange}}


{{> footer}}