---
modified:
  title: Osprey and Kingfisher
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#ospreykingfisher}}
{{> gallery-single}}
{{> pagenav}}
{{/ospreykingfisher}}


{{> footer}}