---
modified:
  title: Quanah Park, Last Chief of the Comanches
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#quanahparker}}
{{> gallery-single}}
{{> pagenav}}
{{/quanahparker}}


{{> footer}}