---
modified:
  title: Michael Schumacher at Monaco
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#schumi-monaco}}
{{> gallery-single}}
{{> pagenav}}
{{/schumi-monaco}}


{{> footer}}