---
modified:
  title: "Wood Brothers #21 History"
  class: single
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#woodbrothers21}}
{{> gallery-single}}
{{> pagenav}}
{{/woodbrothers21}}


{{> footer}}