---
modified:
  title: "Emerald Isle, NC: Under the Bogue Inlet Pier"
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#ei-bogueinletpier}}
{{> gallery-single}}
{{> pagenav}}
{{/ei-bogueinletpier}}


{{> footer}}