---
modified:
  title: Fort Macon, NC Self-Portrait
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#fortmaconself}}
{{> gallery-single}}
{{> pagenav}}
{{/fortmaconself}}


{{> footer}}