---
modified:
  title: Frozen Chicago Lakefront
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#frozenlakefront}}
{{> gallery-single}}
{{> pagenav}}
{{/frozenlakefront}}


{{> footer}}