---
modified:
  title: Hyde Park Autumn Bike Ride
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#hydeparkbikeride}}
{{> gallery-single}}
{{> pagenav}}
{{/hydeparkbikeride}}


{{> footer}}