---
modified:
  title: "2010 Formula 1 Italian Grand Prix"
  class: photos
---
{{> header}}

<div class="gallery-page-head">
  <h1>{{modified.title}}</h1>
  <div class="photo-count">5 photos</div>
  <div class="gallery-date">Sept 12, 2010</div>
</div>
<div class="gallery-nav">
  <a href="/photos.html">&laquo; Return to Photos</a>
  <a href="#" class="trigger-lightbox">View in Lightbox</a>
</div>

{{#italiangp}}

{{> gallery-page}}
{{> pagenav}}

{{/italiangp}}


{{> footer}}