---
modified:
  title: Navy Pier Cormorant and Old Ferris Wheel
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#navypiercomorant-ferris}}
{{> gallery-single}}
{{> pagenav}}
{{/navypiercomorant-ferris}}


{{> footer}}