---
modified:
  title: "Open Range: Lee's Ferry, Colorado River"
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#openrange-leesferry}}
{{> gallery-single}}
{{> pagenav}}
{{/openrange-leesferry}}


{{> footer}}