---
modified:
  title: "Open Range: Saddleback Mesa (book cover)"
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#openrange-saddleback}}
{{> gallery-single}}
{{> pagenav}}
{{/openrange-saddleback}}


{{> footer}}