---
modified:
  title: "Open Range: Joshua Tree"
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#openrange-joshuatree}}
{{> gallery-single}}
{{> pagenav}}
{{/openrange-joshuatree}}


{{> footer}}