---
modified:
  title: "Open Range: Navajo National Monument"
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#openrange-navajomonument}}
{{> gallery-single}}
{{> pagenav}}
{{/openrange-navajomonument}}


{{> footer}}