---
modified:
  title: "Open Range: Kayaking Lake Powell"
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#openrange-lakepowell}}
{{> gallery-single}}
{{> pagenav}}
{{/openrange-lakepowell}}


{{> footer}}