---
modified:
  title: "Open Range: Hidden Skull in Monument Valley"
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#openrange-skull}}
{{> gallery-single}}
{{> pagenav}}
{{/openrange-skull}}


{{> footer}}