---
modified:
  title: "Open Range: Grand Canyon"
  class: photos
---
{{> header}}

<h1>{{modified.title}}</h1>
{{#openrange-grandcanyon}}
{{> gallery-single}}
{{> pagenav}}
{{/openrange-grandcanyon}}


{{> footer}}