---
modified:
  title: "South Yorkshire Countryside, England"
  class: photos
---
{{> header}}

<div class="gallery-page-head">
  <h1>{{modified.title}}</h1>
  <div class="photo-count">3 photos</div>
  <div class="gallery-date">Feb 18, 2008</div>
</div>
<div class="gallery-nav">
  <a href="/photos.html">&laquo; Return to Photos</a>
  <a href="#" class="trigger-lightbox">View in Lightbox</a>
</div>

{{#syorkshire}}

{{> gallery-page}}
{{> pagenav}}

{{/syorkshire}}


{{> footer}}