---
modified:
  title: About
  class: about
---
{{> header}}

{{#about}}
<div class="hero">
  <img src="img/ct-hero-02.jpg" alt="Photo of Charlie Thomason" class="desktop">
  <img src="img/ct-hero-02-640.jpg" alt="Photo of Charlie Thomason" class="mobile">
</div>
<div class="about-wrap">
  <h1>About Charlie Thomason</h1>
  <p class="intro">My name is Charlie Thomason and I'm a Front-end Web Developer and Artist living in Chicago, Illinois. I love photography, <a href="/etc/autoracing.html">auto racing</a>, movies, traveling, <a href="/birds/">birds</a>, and playing guitar and piano. This website features some of my best paintings and photography, web development demos, and a blog.</p>
  <p>I was born in Red Bank, New Jersey in 1984, went to high school &amp; college in Kentucky, and moved to Chicago in 2008. I currently live in the South Loop neighborhood of Chicago with my wife, <a target="_blank" href="http://amandabee287.tumblr.com">Amanda</a>, and our 2 cats, <a href="http://charliethomason.tumblr.com/post/135230488781/my-kittens-like-each-other-sometimes">Baxter and Chloe</a>.</p>
  <p>My specialties as a Web Developer include JavaScript/jQuery, API integration, responsive CSS, and web accessibility. I have been a full-time Software Engineer at <a href="http://uptake.com" target="_blank">Uptake</a> since March 2017. Prior to that, I was a Presentation Layer Engineer at <a target="_blank" href="http://razorfish.com">Razorfish</a> for 4 years. I received my Masters in New Media Studies from DePaul University in 2010, and studied web development at <a target="_blank" href="http://www.starterleague.com/">The Starter League</a> in early 2012.</p>
  <p>I've always been a visually creative person, and earned my Bachelor of Fine Arts in Art Studio from the University of Kentucky in 2007. Today, I still enjoy doing art as a hobby. I especially enjoy working with watercolor and ink painting, drawing, and photography. In December 2016, I self-published a book of paintings of birds found in Chicago entitled <em><a href="/birds/">Birds of Chicagoland: Paintings by Charlie Thomason</a></em>. I spent over 2 years working on the bird painting book, and personally consider it to be my masterpiece.</p>
  <h2>Some fun facts about me:</h2>
  <ul>
    <li>I met my wife, Amanda, at the 2009 Sundance Film Festival in Park City, Utah. We returned to the festival again in 2010, 2011, and 2015. I asked her to marry me while at the 2015 festival.</li>
    <li>I am a Catholic, and member at <a href="http://www.oldstpats.org/" target="_blank" rel="nofollow">Old St. Pat's</a>, which is where I was married in July 2016.</li>
    <li>I love auto racing, and have attended numerous race events. I grew up watching Michael Schumacher in F1, and I am still a die-hard Scuderia Ferrari fan. <a href="/etc/autoracing.html"><strong>Check out the teams &amp; drivers I support, and races I've attended</strong></a>.</li>
    <li>My favorite movies are <em>The Empire Strikes Back</em> (1980), Tim Burton's <em>Beetlejuice</em> (1988), and <em>The Abominable Dr. Phibes</em> (1971).
    <li>My favorite bands/musical artists are The Beatles, Nirvana, Tom Waits, and Metallica.</li>
    <li>My favorite books are J.R.R. Tolkien's <em>The Lord of the Rings</em>, Patrick Süskind's <em>Perfume</em>, Stephen King's <em>Christine</em>, Michael Crichton's <em>Timeline</em>, Richard J. King's <em>The Devil's Cormorant</em>, and Helen Macdonald's <em>H is for Hawk</em>.</li>
    <li>Besides auto racing, I am also a fan of the Chicago White Sox, Chicago Blackhawks, and Chelsea F.C.</li>
    <li>My favorite places in the world are: Venice, Italy; Emerald Isle, North Carolina; Camden, Maine; San Diego, California; and Chicago, Illinois.</li>
  </ul>
  <h2>About this website</h2>
  <p>This entire website is intended to serve as an example of my front-end web development skills. Everything on this site I designed and built from scratch (with the exception of some elements in the 'Code' section demos). The content is all static HTML, built using <a href="http://handlebarsjs.com/" target="_blank" rel="nofollow">Handlebars</a>, <a href="https://github.com/assemble/assemble/" target="_blank" rel="nofollow">Assemble</a>, <a href="http://gruntjs.com/" target="_blank" rel="nofollow">Grunt</a>, <a href="http://jquery.com" target="_blank" rel="nofollow">jQuery</a>, and <a href="http://sass-lang.com/" target="_blank" rel="nofollow">Sass</a>. The main site is hosted with <a href="https://pages.github.com/" target="_blank" rel="nofollow">Github Pages</a>, and the blog is hosted on Tumblr using a custom Tumblr theme. If you want to see more of how the site is built, feel free to <a href="https://github.com/charliethomason/portfolio-site" target="_blank" rel="nofollow">view the source code for this website</a>.</p>
  <h2 id="contact-charlie">Contact Charlie</h2>
  <p><strong>Email: </strong><br>thomason [dot] charlie [at] gmail [dot] com</p>
  <p><strong>Social Media:</strong></p>
  <ul>
    <li><a href="http://instagram.com/charliethomason" target="_blank" rel="nofollow">Instagram</a> - @charliethomason</li>
    <li><a href="http://twitter.com/Charlie312T" target="_blank" rel="nofollow">Twitter</a> - @Charlie312T</li>
    <li><a href="http://letterboxd.com/CharlieT" target="_blank" rel="nofollow">Letterboxd</a> - @CharlieT</li>
    <li><a href="https://www.linkedin.com/in/charlesthomason" target="_blank" rel="nofollow">LinkedIn</a></li>
    <li><a href="https://www.youtube.com/user/charliethomason" target="_blank" rel="nofollow">YouTube</a></li>
  </ul>
</div>
{{/about}}

{{> footer}}