---
modified:
  title: Contact
  class: contact
---
{{> header}}

{{#contact}}
<div class="hero">
  <img src="img/ct-hero-02.jpg" alt="Photo of Charlie Thomason" class="desktop">
  <img src="img/ct-hero-02-640.jpg" alt="Photo of Charlie Thomason" class="mobile">
</div>
<div class="about-wrap contact-page">
  <h1>Contact Charlie Thomason</h1>
  <p><strong>Email: </strong><br>thomason [dot] charlie [at] gmail [dot] com</p>
  <p><strong>Social Media:</strong></p>
  <ul>
    <li><a href="http://facebook.com/charlie.thomason" target="_blank" rel="nofollow">Facebook</a></li>
    <li><a href="https://www.linkedin.com/in/charlesthomason" target="_blank" rel="nofollow">LinkedIn</a></li>
    <li><a href="http://twitter.com/charliethomason" target="_blank" rel="nofollow">Twitter</a></li>
    <li><a href="http://instagram.com/charliethomason" target="_blank" rel="nofollow">Instagram</a></li>
    <li><a href="https://www.youtube.com/user/charliethomason" target="_blank" rel="nofollow">YouTube</a></li>
  </ul>
</div>
{{/contact}}

{{> footer}}