---
modified:
  class: index
---
{{> header}}

{{#index}}
<div class="hero">
  <img src="img/ct-hero-03.jpg" alt="Photo of Charlie Thomason and Amanda in Venice" class="desktop">
  <img src="img/ct-hero-03-640.jpg" alt="Photo of Charlie Thomason and Amanda in Venice" class="mobile">
</div>
<div class="homepage">
  <div class="home-box">
    <h1>The Portfolio of Charlie Thomason</h1>
    <p>Charlie Thomason is a Front-end Web Developer and Artist living in Chicago, Illinois. He loves photography, auto racing, movies, traveling, and birds. This website features some of his best paintings and photos, a full bio, and a blog.</p>
    <div class="btns">
      <a href="about.html">Read More</a>
      <a href="contact.html">Contact</a>
    </div>
  </div>
</div>

{{/index}}

{{> footer}}