---
modified:
  class: index
---
{{> header}}

{{#index}}
<div class="hero">
  <img src="img/ct-hero-03.jpg" alt="Photo of Charlie Thomason and Amanda in Venice" class="desktop">
  <img src="img/ct-hero-03-640.jpg" alt="Photo of Charlie Thomason and Amanda in Venice" class="mobile">
</div>
{{/index}}

{{> footer}}