---
modified:
  title: About
  class: about
---
{{> header}}

{{#about}}
<div class="hero">
  <img src="img/ct-hero-02.jpg" alt="Charlie Thomason about image" class="desktop">
  <img src="img/ct-hero-02-640.jpg" alt="Charlie Thomason about image" class="mobile">
</div>
<div class="about-wrap">
  <h1>About Charlie Thomason</h1>
  <p>My full name is Charles Lee Thomason, Jr. and I’m a Front-end Web Developer and Artist living in Chicago, Illinois. I’ve also worked as a Web &amp; Graphic Designer, Journalist, Internet Marketing Specialist, Photographer, and Video Editor. I was born in Red Bank, New Jersey in 1984, went to high school &amp; college in Kentucky, and moved to Chicago in 2008.</p>
  <p>My specialties as a Web Developer include cross-browser compatibility, web accessibility, responsive design, rapid prototyping, and custom WordPress themes. I am currently employed full-time as a Presentation Layer Engineer for <a target="_blank" href="http://razorfish.com">Razorfish</a>, where I’ve been happily coding since January 2013. I studied web development at <a target="_blank" href="http://www.starterleague.com/">The Starter League</a> (then known as Code Academy) in early 2012, and received my Masters in New Media Studies from DePaul University in 2010.</p>
  <p>I’ve always considered myself a visually creative person, and earned my Bachelor of Fine Arts in Art Studio from the University of Kentucky in 2007. I’ve had paintings, drawings, and photographs featured in exhibits in Lexington, KY and Chicago&mdash;including an exhibit dedicated to Chicago’s <a target="_blank" href="https://reframingruin.wordpress.com/">Bloomingdale Trail</a>. In 2012, I self-published my first photography book, <em><a target="_blank" href="http://www.blurb.com/b/2868673-open-range">Open Range: From Monument Valley to the Mojave Desert</a></em>. I am currently working on my second book, which will be a collection of paintings and drawings of birds (release date TBA).</p>
  <p>I currently live in the South Loop neighborhood of Chicago with my fiancé, <a target="_blank" href="http://www.amandablakley.com">Amanda</a>, and our 2 cats. I like movies, auto racing, LEGO, and playing guitar, bass, and piano. I am a progressive Catholic, registered Democrat, and member at <a target="_blank" href="http://www.oldstpats.org">Old St. Pat’s Church</a>. I am a happy, peaceful, open-minded person and love traveling and meeting new people.</p>
  <h2>Some fun facts about me:</h2>
  <ul>
    <li>I met my fiancé, Amanda, at the 2009 Sundance Film Festival in Park City, Utah. We returned to the festival again in 2010, 2011, and 2015. I asked her to marry me while at the 2015 festival.</li>
    <li><a target="_blank" href="http://moritzlaw.osu.edu/faculty/professor/charles-lee-thomason/">My dad</a> is a clinical professor at the Moritz College of Law at The Ohio State University.</li>
    <li>My favorite movies are Charlie Chaplin’s <em>City Lights</em>, Martin Scorsese’s <em>Taxi Driver</em>, Tim Burton’s <em>Edward Scissorhands, </em>and<em> <em>The Empire Strikes Back.</em></em></li>
    <li>My favorite bands/musical artists are Nirvana, The Beatles, and Tom Waits.</li>
    <li>My favorite actors are Vincent Price and Jack Nicholson.</li>
    <li>My favorite sports teams are the Ferrari Formula 1 team, Chicago White Sox, and Chicago Blackhawks.</li>
  </ul>
</div>
{{/about}}

{{> footer}}