---
modified:
  title: Austria 2016
  class: photos
---
{{> header}}

{{#gallery-austria}}

<div class="gallery-page-head">
  <h1>{{heading}}</h1>
  <div class="photo-count">25 photos</div>
  <div class="gallery-date">March 10-16, 2016</div>
</div>
<div class="gallery-nav">
  <a href="photos.html">&laquo; Return to Photos</a>
  <a href="#" class="trigger-lightbox">View in Lightbox</a>
</div>

{{> gallery-page}}

{{/gallery-austria}}


{{> footer}}