---
modified:
  class: index
---
{{> header}}

{{#index}}
<div class="hero">
  <img src="img/ct-hero-01.jpg" alt="Charlie Thomason homepage image" class="desktop">
  <img src="img/ct-hero-01-640.jpg" alt="Charlie Thomason homepage image" class="mobile">
</div>
<div class="homepage">
  <div class="home-box">
    <h1>Artist &amp; Web Developer from Chicago</h1>
    <p>Charlie Thomason is a Front-end Web Developer and Artist living in Chicago, Illinois. He is currently a Presentation Layer Engineer for <a rel="nofollow" target="_blank" href="http://razorfish.com">Razorfish</a>, where he specializes in responsive design, web accessibility, and rapid prototyping. As an Artist, he loves painting and photography &mdash; especially birds, landscapes, and movie-related themes. This website features a gallery his best artwork, a personal blog, and a store featuring his self-published book, <a rel="nofollow" target="_blank" href="http://www.blurb.com/b/2868673-open-range"><em>Open Range: From Monument Valley to the Mojave Desert</em></a>.</p>
    <div class="btns">
      <a href="about.html">Read More</a>
      <a href="art.html#random">Random Art</a>
    </div>
  </div>
</div>

{{/index}}

{{> footer}}