<div class="bird-btns">
  <a href="http://www.blurb.com/b/7500748-birds-of-chicagoland" class="buy-book" target="_blank" title="Opens Blurb.com in a new window">Buy Book</a>
  <a href="index.html">Birds</a>
  <a href="intro.html">Intro</a>
  <a href="materials.html">Materials</a>
</div>