{{#filters}}
<div class="gallery-view">
  <input type="radio" id="view-grid" name="view" value="grid" checked="checked"><label for="view-grid">View as Grid</label>
  <input type="radio" id="view-list" name="view" value="list"><label for="view-list">View as List</label>
</div>
<form id="gallery-filter">
  <label for="filters">Filter by category</label>
  <select class="filters" id="filters">
    <option value="all" selected="selected">All</option>
    {{#each filter}}
    <option value="{{val}}">{{name}}</option>
    {{/each}}
  </select>
  <input type="submit" class="filter-update" value="Update">
</form>
{{/filters}}