{{#footer}}

	</section>

	<footer id="footer" role="contentinfo">
		<p>All content on this website is property of <a href="http://charliethomason.github.io">Charlie Thomason</a>, except where otherwise specified. Do not reuse without permission.</p>
	</footer>

</main>

{{/footer}}