{{#header}}
<header id="header" role="banner">
	<div class="headwrap">
		<div class="logo">
			<a href="index.html">Charlie Thomason</a>
		</div>
		<div class="tagline">Artist &amp; Web Developer from Chicago</div>

		<nav id="main-nav" role="navigation">
			<a href="#" id="hamburger"><span> </span>Menu</a>
			<ul role="menu">
				{{#each links}}
				<li{{#is ../../modified.class url}} class="active"{{/is}}>
					<a href="/{{url}}.html" role="menuitem">{{name}}</a>
				</li>
				{{/each}}
				<li{{#is ../modified.class 'birds'}} class="active"{{/is}}>
					<a href="/birds/" role="menuitem" class="birds-menuitem">Birds</a>
				</li>
				<li{{#is ../modified.class 'webdev'}} class="active"{{/is}}>
					<a href="/webdev/" role="menuitem">Dev</a>
				</li>
				<li><a href="http://charliethomason.tumblr.com" role="menuitem">Blog</a></li>
			</ul>
		</nav>

	</div>
</header>

<main id="main" role="main">

	<section id="content"{{#if ../modified.class}} class="{{../../modified.class}}"{{/if}}>
{{/header}}