{{#header}}
<header id="header">
	<div class="headwrap">
		<div class="logo">
			<a href="#" role="banner">Charlie Thomason</a>
		</div>

		<nav id="main-nav" role="navigation">
			<a href="#" id="hamburger"><span> </span>Menu</a>
			<ul>
				{{#each links}}
				<li{{#is ../../modified.class active}} class="active"{{/is}}>
					<a href="{{url}}.html">{{name}}</a>
				</li>
				{{/each}}
				<li><a href="http://charliethomason.tumblr.com">Blog</a></li>
				<li class="social-icon" id="social-twitter"><a href="http://twitter.com/charliethomason" alt="Twitter" rel="nofollow" target="_blank" title="Twitter">Twitter</a></li>
				<li class="social-icon" id="social-instagram"><a href="http://instagram.com/charliethomason" alt="Instagram" rel="nofollow" target="_blank" title="Instagram">Instagram</a></li>
			</ul>
		</nav>

	</div>
</header>

<main id="main" role="main">

	<section id="content">
{{/header}}