{{#header}}
<header id="header" role="banner">
	<div class="headwrap">
		<div class="logo">
			<a href="index.html">Charlie Thomason</a>
		</div>
		<div class="tagline">Artist &amp; Web Developer from Chicago</div>

		<nav id="main-nav" role="navigation">
			<a href="#" id="hamburger"><span> </span>Menu</a>
			<ul role="menu">
				<li{{#is ../modified.class 'index'}} class="active"{{/is}}>
					<a href="/index.html" role="menuitem">Home</a>
				</li>
				<li{{#is ../modified.class 'about'}} class="active"{{/is}}>
					<a href="/about.html" role="menuitem">About</a>
				</li>
				<li{{#is ../modified.class 'art'}} class="active"{{/is}}>
					<a href="/art.html" role="menuitem">Art</a>
				</li>
				<li{{#is ../modified.class 'photos'}} class="active"{{/is}}>
					<a href="/photos.html" role="menuitem">Photos</a>
				</li>
				<li{{#is ../modified.class 'birds'}} class="active"{{/is}}>
					<a href="/birds/" role="menuitem" class="birds-menuitem">Birds</a>
				</li>
				<li{{#is ../modified.class 'code'}} class="active"{{/is}}>
					<a href="/code/" role="menuitem">Code</a>
				</li>
				<li><a href="http://charliethomason.tumblr.com" role="menuitem">Blog</a></li>
			</ul>
		</nav>

	</div>
</header>

<main id="main" role="main">

	<section id="content"{{#if ../modified.class}} class="{{../../modified.class}}"{{/if}}>
{{/header}}