#content.art,
#content.photos {
  padding:25px;
  @include tablet {
    padding:10px;
  }
  @include mobile {
    padding:10px 0;
  }
}
.gallery {
  .info {
    @include safeHide;
  }
  ul {
    @include clearfix;
  }
  li {
    display:block;
    float:left;
    max-width:250px;
    width:33.3333%;
    a {
      display:block;
      position:relative;
      &:after {
        border:10px solid $green;
        content:"";
        display:none;
        height:100%;
        left:0;
        position:absolute;
        top:0;
        width:100%;
        @include mobile {
          border-width:5px;
        }
      }
      &:hover,
      &:focus {
        &:after {
          display:block;
        }
      }
      img {
        display:block;
        height:auto;
        max-width:100%;
      }
    }
  }
}
.lightbox {
  display:none;
  .lightbox-content {
    width:100%;
  }
  .lightbox-nav {
    @include clearfix;
    > a {
      @include sans;
      background-color:$red;
      border-left:1px solid #fff;
      color:#fff;
      display:block;
      float:left;
      font-weight:bold;
      padding:10px;
      text-align:center;
      width:33.3333%;
      &:hover,
      &:focus {
        background-color:$green;
        color:$darkgray;
        text-decoration:none;
      }
      &:first-child {
        border-left:none;
      }
      @include mobile {
        font-size:14px;
      }
    }
  }
  .lightbox-img {
    background:#000;
    img {
      display:block;
      height:auto;
      margin:auto;
      max-width:100%;
    }
  }
  .lightbox-info {
    @include mobile {
      padding:0 10px 10px;
    }
  }
  .lightbox-title {
    @include oswald;
    color:$darkgray;
    font-size:20px;
    line-height:28px;
    margin-bottom:5px;
    margin-top:10px;
  }
  .lightbox-meta {
    @include sans;
    color:$medgray;
    font-size:16px;
    line-height:22px;
    margin-bottom:10px;
  }
  .lightbox-location-wrap {
    display:none;
    .lightbox-location {
      outline:0 none;
    }
  }
  .lightbox-description {
    font-size:16px;
    line-height:22px;
  }
}
.lightbox-loading {
  @include oswald;
  background-color:$darkgray;
  border-radius:25px;
  color:#fff;
  display:none;
  font-size:20px;
  letter-spacing:3px;
  margin:30px auto 60px;
  padding:10px;
  text-align:center;
  text-transform:uppercase;
  width:280px;
}