$offwhite: #f1f1f1;
$teal: #0c9;
$red: #cf0000;
$darkgray: #222;
$medgray: #666;
$litegray: #aaa;
$slate: #ccc;
$xlitegray: #e6e6e6;
$twitterblue: #55acee;

@mixin serif {
	font-family: Georgia, "Times New Roman", Times, serif;
}
@mixin sans {
	font-family: Helvetica, Arial, sans-serif;
}
@mixin oswald {
	font-family: Oswald, Impact, "Arial Narrow", Arial, sans-serif;
}
@mixin clearfix {
	&:after {
		clear: both;
		content: " "; 
		display: table;
	}
}
@mixin mid400 {
	margin:0 auto;
	max-width:400px;
}
@mixin mid500 {
	margin:0 auto;
	max-width:500px;
}
@mixin nounderline {
	&:hover, &:focus {
		text-decoration:none;
	}
}
@mixin safeHide {
	overflow:hidden;
	position:absolute;
	left:-9999px;
	top:-9999px;
}
@mixin imgReplace {
	overflow: hidden;
	text-indent: -9999px;
}

@mixin retina {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		@content;	
	}
}
@mixin tablet {
	@media (max-width: 840px) {
		@content;
	}
}
@mixin mobile {
	@media (max-width: 640px) {
		@content;
	}
}