.work-list {
	@include mid500;
	h2 {
		@include imfell;
		color:$darkgray;
		font-size:32px;
		padding:20px 0 0;
		text-align:center;
		a {
			color:$darkgray;
			&:hover, &:focus {
				color:$red;
			}
		}
	}
	.work-samples {
		padding:20px 0 40px;
	}
}
li.sample-item {
	@include clearfix;
	background-color: $offwhite;
	margin: 10px 0 0;
	padding:10px;
	&:first-child {
		margin-top:0;
	}
	h3 {
		@include oswald;
		font-size:18px;
		line-height:20px;
		padding-bottom:2px;
		a {
			&:hover,&:focus {
				color:$medgray;
			}
		}
	}
	a.sample-thumb {
		border:2px solid $offwhite;
		display:block;
		float:left;
		margin-right:8px;
		&:hover,&:focus {
			border-color:$red;
		}
		img {
			display: block;
			height:auto;
			@include mobile {
				width:100px;
			}
		}
	}
	.description {
		color:$darkgray;
		display:block;
		font-size:14px;
		line-height:18px;
		padding:0 0 5px;
	}
}